{% extends 'base.html' %} {% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %} {% block content %}

<!-- <div class="login">
  <h1>Formulir Registrasi</h1>

  <form method="POST">
    {% csrf_token %}
    <div>
      {% for field in form %}
      <div class="fieldWrapper">
        {{ field.errors }} {{ field.label_tag }}: {{ field }}
      </div>
      {% endfor %}
    </div>
    <input type="submit" />
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div> -->

<div>
  <div class="flex justify-center mt-[15%]">
    <div>
      <div class="text-4xl font-bold text-slate-400">Register</div>
      <div class="lg:w-64 mt-3">
        <form method="POST" action="">
          {% csrf_token %}
          <div>
            <label class="block">
              <span
                class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-500"
              >
                {{ form.username.label }}
              </span>
              <input
                type="text"
                name="username"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Username"
              />
              {% if form.username.errors %}
              <div class="mt-2 text-red-500 text-sm">
                {{form.username.errors }}
              </div>
              {% endif %}
            </label>
            <label class="block">
              <span
                class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-500"
              >
                {{ form.password1.label }}
              </span>
              <input
                type="password"
                name="password1"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Password"
              />
              {% if form.password1.errors %}
              <div class="mt-2 text-red-500 text-sm">
                {{form.password1.errors}}
              </div>
              {% endif %}
            </label>

            <label class="block">
              <span
                class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-500"
              >
                {{ form.password2.label }}
              </span>
              <input
                type="password"
                name="password2"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Confirm Password"
              />
              {% if form.password2.errors %}
              <div class="mt-2 text-red-500 text-sm">
                {{ form.password2.errors }}
              </div>
              {% endif %}
            </label>

            <!-- {% if field.label == "Username" %} -->
            <!-- <input
                type="text"
                name="username"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Username"
              />
              {% else %}
              <input
                type="password"
                name="password"
                class="mt-1 px-3 py-2 bg-[#2d3748] border shadow-sm border-slate-600 placeholder-slate-400 focus:outline-none focus:border-[#4a9ebd] focus:ring-[#4a9ebd] block w-full rounded-md sm:text-sm focus:ring-1 text-slate-300"
                placeholder="Password"
              /> -->
            <!-- {% endif %} -->
          </div>
          <button
            type="submit"
            name="submit"
            class="rouned-lg bg-[#4a9ebd] w-full h-10 text-slate-300 mt-4 font-bold"
          >
            Sign up
          </button>
        </form>
        <div class="mt-4 text-center text-slate-400">
          Already have an account?
          <a
            href="{% url 'todolist:login' %}"
            class="underline underline-offset-2"
          >
            Sign in
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
